body {
  background-color: #fff
}
.search-box {
  width: 20%;
  margin-right: 50px;
}
.container{
	margin-top:50px;
}
#edit-user , #create-user ,#delete-user ,#cancel-edit {
	margin-left:10px;
	float:left;
}

#editUser , #createUser  {
	margin-left:0px !important;
}
