doctype html
html(lang='en')
  head
    title PUG
  body
    h1 PUG - node template engine
    #container.col
      p You are amazing
      p
        | PUG is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.